/* General styles */



/* Site section styles */
header{
    height: 100px;
}
main{
    width: 70%;
    margin: 0 auto;
}
#container{
    height: 300x;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#clock{
    height:100px;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
    background-color: blanchedalmond;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.btn{
    font-size: 2rem;
}
#cont_bottom_send{
    height: 200px;
    display: flex;
    align-items: center;
}
.good{
    background-color: green;
}










